{% extends "camtapp/layout.html" %}
{% block title %}
Yesterday
{% endblock %}
{% block content %}


<div class="row">
    <div class="col">
        <div class="card text-white bg-dark">
            <form method="post">
                {% csrf_token %}
                <label for="ibanfiltertext">IBAN Filter:</label><br>
                <input class="form-control" type="text" name="ibanfiltertext" value=""><br><br>
                <input class="btn btn-primary" type="submit" name="IbanFilter" value="Iban Filter" />
                <input class="btn btn-primary" type="submit" name="BalanceDifference" value="Balance difference" />
                <input class="btn btn-primary" type="submit" name="ResetFilter" value="Reset Filter" />


            </form>


            <label for="cars">Filter environment:</label>
            <select class="form-control" name="location">
                {% for location in locations %}

                <option value="{{ location }}" selected="selected">{{ location }}</option>

                {% endfor %}
            </select>


        </div>
    </div>

    <div class="col">
        <div class="card text-white bg-dark">
            <h5 class="card-header">Bank statements, total {{ total_count }}!
                Balance differs in {{ balance_difference_count }}.</h5>

            {% if data %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Company_Name</th>
                        <th scope="col">Banking_Date</th>
                        <th scope="col">IBAN</th>
                        <th scope="col">CAMT_Ref_Payments</th>
                        <th scope="col">NAV_Ref_Payments</th>
                        <th scope="col">Ref_Payments_Match</th>
                        <th scope="col">Ref_Payments_Status</th>
                        <th scope="col">Posted_Unmatched_Entries</th>
                        <th scope="col">CAMT_Payments</th>
                        <th scope="col">Vendor_Payments_Sent_To_Bank</th>
                        <th scope="col">Vendor_Payments_Match</th>
                        <th scope="col">Vendor_Payments_Status</th>
                        <th scope="col">Posted_Open_Vendor_Entries</th>
                        <th scope="col">CAMT_FCY_Payments</th>
                        <th scope="col">FCY_Payments_Sent_To_Bank</th>
                        <th scope="col">Currency_Difference</th>
                        <th scope="col">Currency_Difference_Percent</th>
                        <th scope="col">Other_CAMT_Entries</th>
                        <th scope="col">Other_CAMT_Entries_Matched</th>
                        <th scope="col">Other_CAMT_Entries_Status</th>
                        <th scope="col">CAMT_Balance</th>
                        <th scope="col">NAV_Account_Balance</th>
                        <th scope="col">Balance_Difference</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    {% if d.Balance_Difference != 0 %}
                    <tr class="table-danger">
                        {% else %}
                    <tr class="table-dark">
                        {% endif %}
                        <td>{{ d.Company_Name }}</td>
                        <td>{{ d.Banking_Date }}</td>
                        <td>{{ d.IBAN }}</td>
                        <td>{{ d.CAMT_Ref_Payments }}</td>
                        <td>{{ d.NAV_Ref_Payments }}</td>
                        <td>{{ d.Ref_Payments_Match }}</td>
                        <td>{{ d.Ref_Payments_Status }}</td>
                        <td>{{ d.Posted_Unmatched_Entries }}</td>
                        <td>{{ d.CAMT_Payments }}</td>
                        <td>{{ d.Vendor_Payments_Sent_To_Bank }}</td>
                        <td>{{ d.Vendor_Payments_Match }}</td>
                        <td>{{ d.Vendor_Payments_Status }}</td>
                        <td>{{ d.Posted_Open_Vendor_Entries }}</td>
                        <td>{{ d.CAMT_FCY_Payments }}</td>
                        <td>{{ d.FCY_Payments_Sent_To_Bank }}</td>
                        <td>{{ d.Currency_Difference }}</td>
                        <td>{{ d.Currency_Difference_Percent }}</td>
                        <td>{{ d.Other_CAMT_Entries }}</td>
                        <td>{{ d.Other_CAMT_Entries_Matched }}</td>
                        <td>{{ d.Other_CAMT_Entries_Status }}</td>
                        <td>{{ d.CAMT_Balance }}</td>
                        <td>{{ d.NAV_Account_Balance }}</td>
                        <td>{{ d.Balance_Difference }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



        {% else %}
        <p>No statements for yesterday</p>
        {% endif %}
    </div>
</div>


{% endblock %}