{% extends "camtapp/layout.html" %}
{% block title %}
Yesterday
{% endblock %}
{% block content %}
<div class="row">
    <div class="col col-lg-2">
        <div class="card text-white bg-dark">
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="FI123456"
                        aria-label="FI123456" aria-describedby="button-addon2" name="IbanFilter">
                    <button class="btn btn-primary" type="submit" id="button-addon2">Filter Iban</button>
                </div>
                <input type="submit" name="BalanceDifference" value="Balance difference" />
                <input type="submit" name="ResetFilter" value="Reset Filter" />


            </form>
        </div>
    </div>

    <div class="col-md-auto">
        <div class="card text-white bg-dark">
            <h5 class="card-header">Bank statements, total {{ total_count }}!
                Balance differs in {{ balance_difference_count }}.</h5>

            {% if data %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Banking Date</th>
                        <th>IBAN</th>
                        <th>Balance Difference</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    {% if d.Balance_Difference != 0 %}
                    <tr class="table-danger">
                        {% else %}
                    <tr class="table-dark">
                        {% endif %}
                        <td>{{ d.Company_Name }}</td>
                        <td>{{ d.Banking_Date }}</td>
                        <td>{{ d.IBAN }}</td>
                        <td>{{ d.Balance_Difference }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>



    {% else %}
    <p>No statements for yesterday</p>
    {% endif %}

</div>
{% endblock %}